{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-success mb-5">
    <div class="container-fluid">
        <p class="fw-bold text-white">Hospital Doctors System</p>
    </div>
</nav>

<div class="container bg-success text-center py-5">
    <h1 class="text-white ">Our Trusted Doctors</h1>
    <p class="text-white">Browse our external Browse our external Browse our external Browse our external Browse our external </p>
</div>

<div class="container bg-light py-5">
    <div>
        <h2 class="text-center text-success">Cardiologists</h2>
        <div class="row d-flex justify-content-center">
            <div class="col-3 card text-center">
                <img class="card-img-top rounded-circle" src="{% static 'doctor8.jpg' %}">
                <div class="card-body">
                    <p>Dr Mike Reynolds</p>
                    <span class="bg-success badge">Cardiologist</span>
                    <p>Institution: lorem ipsum</p>
                    <p>email: lorem@ipsum</p>
                    <p>phone: +38971123123</p>
                    <button class="btn btn-outline-success">View Profile</button>
                </div>
            </div>
            <div class="col-3 card text-center mx-3">
                <img class="card-img-top rounded-circle" src="{% static 'doctor2.jpg' %}">
                <div class="card-body">
                    <p>Dr Mike Reynolds</p>
                    <span class="bg-success badge">Cardiologist</span>
                    <p>Institution: lorem ipsum</p>
                    <p>email: lorem@ipsum</p>
                    <p>phone: +38971123123</p>
                    <button class="btn btn-outline-success">View Profile</button>
                </div>
            </div>
            <div class="col-3 card text-center">
                <img class="card-img-top rounded-circle" src="{% static 'doctor1.jpg' %}">
                <div class="card-body">
                    <p>Dr Mike Reynolds</p>
                    <span class="bg-success badge">Cardiologist</span>
                    <p>Institution: lorem ipsum</p>
                    <p>email: lorem@ipsum</p>
                    <p>phone: +38971123123</p>
                    <button class="btn btn-outline-success">View Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bg-light py-5">
    <div>
        <h2 class="text-center text-success">Dermatologists</h2>
        <div class="row d-flex justify-content-center">
            <div class="col-3 card text-center">
                <img class="card-img-top rounded-circle" src="{% static 'doctor8.jpg' %}">
                <div class="card-body">
                    <p>Dr Mike Reynolds</p>
                    <span class="bg-success badge">Cardiologist</span>
                    <p>Institution: lorem ipsum</p>
                    <p>email: lorem@ipsum</p>
                    <p>phone: +38971123123</p>
                    <button class="btn btn-outline-success">View Profile</button>
                </div>
            </div>
            <div class="col-3 card text-center mx-3">
                <img class="card-img-top rounded-circle" src="{% static 'doctor2.jpg' %}">
                <div class="card-body">
                    <p>Dr Mike Reynolds</p>
                    <span class="bg-success badge">Cardiologist</span>
                    <p>Institution: lorem ipsum</p>
                    <p>email: lorem@ipsum</p>
                    <p>phone: +38971123123</p>
                    <button class="btn btn-outline-success">View Profile</button>
                </div>
            </div>
            <div class="col-3 card text-center">
                <img class="card-img-top rounded-circle" src="{% static 'doctor1.jpg' %}">
                <div class="card-body">
                    <p>Dr Mike Reynolds</p>
                    <span class="bg-success badge">Cardiologist</span>
                    <p>Institution: lorem ipsum</p>
                    <p>email: lorem@ipsum</p>
                    <p>phone: +38971123123</p>
                    <button class="btn btn-outline-success">View Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container bg-light py-5">
    <div>
        <h2 class="text-center text-success">Neurologists</h2>
        <div class="row d-flex justify-content-center">
            <div class="col-3 card text-center">
                <img class="card-img-top rounded-circle" src="{% static 'doctor8.jpg' %}">
                <div class="card-body">
                    <p>Dr Mike Reynolds</p>
                    <span class="bg-success badge">Cardiologist</span>
                    <p>Institution: lorem ipsum</p>
                    <p>email: lorem@ipsum</p>
                    <p>phone: +38971123123</p>
                    <button class="btn btn-outline-success">View Profile</button>
                </div>
            </div>
            <div class="col-3 card text-center mx-3">
                <img class="card-img-top rounded-circle" src="{% static 'doctor2.jpg' %}">
                <div class="card-body">
                    <p>Dr Mike Reynolds</p>
                    <span class="bg-success badge">Cardiologist</span>
                    <p>Institution: lorem ipsum</p>
                    <p>email: lorem@ipsum</p>
                    <p>phone: +38971123123</p>
                    <button class="btn btn-outline-success">View Profile</button>
                </div>
            </div>
            <div class="col-3 card text-center">
                <img class="card-img-top rounded-circle" src="{% static 'doctor1.jpg' %}">
                <div class="card-body">
                    <p>Dr Mike Reynolds</p>
                    <span class="bg-success badge">Cardiologist</span>
                    <p>Institution: lorem ipsum</p>
                    <p>email: lorem@ipsum</p>
                    <p>phone: +38971123123</p>
                    <button class="btn btn-outline-success">View Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="bg-dark mt-5">
    <p class="text-white text-center">Hospital Doctor System</p>
</footer>

</body>
</html>